html, body, #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.Container {
    width: 100%;
    min-height: 100%;
    background-color: $primary-background;
    display: flex;
    flex-direction: column;
}
.MuiTextField-root {
    width: 100%;
}
.react-datepicker-wrapper {
    input {
        width: 100%;
        margin: 5px 0;
    }
}