.Products {
    flex: 1;
    display: flex;
    flex-direction: column;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 25px;


    &__toolbar {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        position: relative;

        @include respond(tablet) {
            width: 100%;
        }

        &__new-product-button {
            position: absolute !important;
            right: 0 !important;
            
            @include respond(tablet) {
                display: none !important;
            }
            
            &--mobile {
                display: none !important;
                position: absolute !important;
                right: 0 !important;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(tablet) {
                    display: block !important;
                }
            }
        }
        &__search-button {
            position: absolute !important;
            left: 0 !important;
        }

        &__tab-list {
            display: flex;
            padding: 15px;
            margin: 0;
            width: fit-content;
            background-color: white;
            border-radius: 100px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            column-gap: 20px;
            
            @include respond(phone) {
                padding: 8px;
                column-gap: 5px;
            }

            .divider {
                height: 100%;
                width: 1px;
                background-color: rgba(0, 0, 0, 0.3);
                // list-style-type: none;
            }
        }
        &__tab {
            border: 0;
            background: 0;
            list-style-type: none;
            outline: none;
            cursor: pointer;
    
            &.selected {
                font-weight: 800;
            }

            @include respond(phone) {
                font-size: 1rem;
            }
        }
    }
    &__collapse {
    }
}