.Navbar {
    position: fixed;
    width: 100vw;
    background-color: #11468F;
    color: white;
    
    &__routes {
        display: flex;
        padding: 10px;
        column-gap: 10px;

        &__route {
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.2s;
            position: relative;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }
            &.selected::after {
                content: '';
                position: absolute;
                background-color: white;
                width: calc(100% - 20px);
                height: 1px;
                bottom: 0;
                left: 10px;
            }
        }
    }
}