.navbar {
    background-color: #11468F;

    &__container {
        width: 100%;
    }
    .container-fluid {
        padding: 0;
    }
    &-collapse {
        padding: 0 10px;
    }
    &__routes {
        display: flex;
        column-gap: 10px;

        @include respond(reactstrap-sm) {
            margin-bottom: 30px;
        }

        &__route {
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.2s;
            position: relative;
            
            @include respond(reactstrap-sm) {
                text-align: center;
                font-size: 1.5rem;
                padding: 10px !important;
                border-radius: 0;
                border-bottom: 4px solid #041562;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
                color: white;
            }
            &.selected::after {
                content: '';
                position: absolute;
                background-color: white;
                width: calc(100% - 20px);
                height: 1px;
                bottom: 0;
                left: 10px;

                @include respond(reactstrap-sm) {
                    content: none;
                }
            }
        }
    }
    .dark-mode-toggle {
        @include respond(reactstrap-sm) {
            position: absolute;
            top: 10px;
            right: 10px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}